<div>{{title}}</div>
<script defer src="/js/chat.js"></script>
<input type="text" class="messages">
<button id="btn">Push</button>
<div class="list">
  {{#each message}}
  <div>
    {{this.body}}
  </div>
  {{/each}}
</div>